<h2 class="title is-spaced has-text-centered">
  <span class="tag is-large is-info">Candidate participation phase</span>
</h2>
<p class="has-text-centered">
  This project is in its candidate phase. In this phase the elected candidates can vote for tickets.
</p>
