<h2 class="title is-spaced has-text-centered">
  <span class="tag is-large is-success">Open participation phase</span>
</h2>
<p class="has-text-centered">
  This project is in its open phase. This means that everyone is free to join
</p>
