<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ExVote</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/bulma.min.css") %>">
    <script defer src="<%= static_path(@conn, "/js/fontawesome.min.js") %>"></script>
  </head>

  <body>
    <nav class="navbar is-spaced has-shadow">
      <div class="container">
        <div class="navbar-brand">
          <div class="navbar-item">
            <h1 class="title">ExVote</h1>
          </div>
        </div>
        <div class="navbar-menu">
          <div class="navbar-end">
            <%= if @user do %>
              <div class="navbar-item">
                <span>Hello <%= @user.name %>!</span>
              </div>
            <% end %>
            <div class="navbar-item">
              <%= if @user do %>
                <a href="<%= user_path(@conn, :logout) %>">Logout</a>
              <% else %>
                <a href="<%= user_path(@conn, :login) %>">Login</a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container">
        <%= if get_flash(@conn, :info) do %>
          <div class="notification is-primary"><%= get_flash(@conn, :info) %></div>
        <% end %>
        <%= if get_flash(@conn, :error) do %>
          <div class="notification is-danger"><%= get_flash(@conn, :error) %></div>
        <% end %>

        <%= render @view_module, @view_template, assigns %>
      </div>
    </section>
  </body>
</html>
